  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

* {
    background: #F3F3F3;
    font-family: 'Poppins';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.card {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #A47ADB;   
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
}

.textfield {
    justify-content: center;
    display: flex;
    background: #A47ADB;
    padding: 5px;
}

.textfield > i {
    background: #A47ADB;
    color: #F2DCFF;
}

H1 {  
    background: #A47ADB;
    padding: 10px;
    color: #F2DCFF;
}
/*faltou um efeito nesse H1*/

.textfield > label {
    background: #A47ADB;  
    color: #160F17;
     
}
/* Tive que repetir algumas propriedades varias vezes */
.textfield > input {
    background: #F9F1E0;
    border-radius: 15px;

}

.btn-login {
    background: #F9F1E0;
    font-weight: 700;
    margin: 15px;
    padding: 5px;
    width: 40%;
    border-radius: 7px;
    cursor: pointer;
}


.btn-login:hover {
    transition: background 1s;
    background: #DBD0C5;
    color: #A858DB;
}